* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #070d55;
  --accent-color1: #00ffff;
  --accent-color2: #ff0000;
  --background-color: #f5f5dc;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  font-size: 1.5rem;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.img-container {
  background-image: url(assets/weed.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 45%;
  height: 100%;
}

.links-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  color: var(--accent-color1);
  text-align: center;
  padding: 5px;
  font-size: 13px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  bottom: -535px;
  margin: 0 auto;
}

.links-container a {
  color: var(--accent-color1);
}

.text-container {
  text-align: center;
  margin-bottom: 1rem;
}

.text-container h1 {
  padding: 15px;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto 1rem;
}

.form-container {
  padding: 1rem;
  width: 65%;
}

.text-container {
  line-height: 35px;
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.form-container input {
  padding: 5px 10px;
  width: 16em;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid var(--text-color);
  background-color: var(--background-color);
}

.btn-container button {
  font-size: 1.5rem;
  padding: 5px;
  margin-top: 2rem;
  border-radius: 8px;
  width: 16em;
}

@media (width < 700px) {
  body {
    width: 100vw;
    overflow-x: hidden;
    color: var(--text-color);
  }

  .main-container {
    flex-direction: column;
    width: 100%;
  }

  .img-container {
    background-image: url(assets/weed.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }

  .img-container img {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .links-container {
    top: 0;
  }

  .links-container a {
    font-size: 13px;
  }

  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .text-container {
    margin-bottom: 0;
    line-height: 35px;
  }

  .text-container p {
    padding: 15px;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .form-container form {
    width: 100%;
    margin: 0 auto;
  }

  .form-container input {
    width: 16em;
    margin-bottom: 1rem;
  }

  .btn-container button {
    margin-bottom: 1rem;
    width: 16em;
  }
}
